USE [ReportData]
GO
/****** Object:  Table [dbo].[machine_production_waste]    Script Date: 2025/4/7 11:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[machine_production_waste](
	[central_id] [nvarchar](50) NULL,
	[central_name] [nvarchar](50) NULL,
	[period] [nvarchar](50) NULL,
	[date] [datetime] NULL,
	[machine_name] [nvarchar](50) NULL,
	[water_ton] [float] NULL,
	[power_kwh] [float] NULL,
	[steam_ton] [float] NULL,
	[order_index] [int] NULL,
	[refresh_time] [datetime] NULL,
	[write_time] [datetime] NULL,
	[weight_kg] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[production_volume]    Script Date: 2025/4/7 11:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

                CREATE VIEW [dbo].[production_volume]
                AS 
                SELECT central_id, central_name, period, date, machine_name, order_index, refresh_time, weight_kg 
                FROM  [dbo].machine_production_waste
GO
/****** Object:  Table [dbo].[batch_queued]    Script Date: 2025/4/7 11:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_queued](
	[central_id] [nvarchar](50) NULL,
	[central_name] [nvarchar](50) NULL,
	[machine_name] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[batch_no] [nvarchar](50) NULL,
	[color_text] [int] NULL,
	[color] [int] NULL,
	[position] [int] NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[modified_time] [datetime] NULL,
	[write_time] [datetime] NULL,
	[program_name] [nvarchar](50) NULL,
	[start_mode] [nvarchar](50) NULL,
	[expected_run_minutes] [int] NULL,
	[color_code] [nvarchar](50) NULL,
	[weight_kg] [int] NULL,
	[worker_code] [nvarchar](50) NULL,
	[customer_code] [nvarchar](50) NULL,
	[product_code] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[machine_status]    Script Date: 2025/4/7 11:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[machine_status](
	[central_id] [nvarchar](50) NULL,
	[central_name] [nvarchar](50) NULL,
	[machine_name] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[num_of_idle_reasons] [int] NULL,
	[num_of_alarms] [int] NULL,
	[idle_reason] [nvarchar](50) NULL,
	[alarm] [nvarchar](50) NULL,
	[user_prompt] [nvarchar](50) NULL,
	[mt_temperature] [varchar](50) NULL,
	[batch_no] [nvarchar](50) NULL,
	[program_name] [nvarchar](50) NULL,
	[current_step] [nvarchar](50) NULL,
	[next_step] [nvarchar](50) NULL,
	[minutes_run] [int] NULL,
	[expected_finish_time] [datetime] NULL,
	[batch_water_kg] [int] NULL,
	[batch_power_kwh] [int] NULL,
	[batch_steam_kg] [int] NULL,
	[water_meter_ton] [int] NULL,
	[power_meter_kwh] [int] NULL,
	[steam_meter_ton] [int] NULL,
	[idle_reason_2] [nvarchar](50) NULL,
	[idle_reason_3] [nvarchar](50) NULL,
	[idle_reason_4] [nvarchar](50) NULL,
	[idle_reason_5] [nvarchar](50) NULL,
	[alarm_2] [nvarchar](50) NULL,
	[alarm_3] [nvarchar](50) NULL,
	[alarm_4] [nvarchar](50) NULL,
	[alarm_5] [nvarchar](50) NULL,
	[status_refresh_time] [datetime] NULL,
	[status_write_time] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[overall_usage]    Script Date: 2025/4/7 11:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[overall_usage](
	[central_id] [nvarchar](50) NULL,
	[central_name] [nvarchar](50) NULL,
	[period] [nvarchar](50) NULL,
	[date] [datetime] NULL,
	[machine_name] [nvarchar](50) NULL,
	[run] [float] NULL,
	[idle] [float] NULL,
	[down] [float] NULL,
	[repair] [float] NULL,
	[order_index] [int] NULL,
	[refresh_time] [datetime] NULL,
	[write_time] [datetime] NULL,
	[weight_kg] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stop_reasons_summary]    Script Date: 2025/4/7 11:38:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stop_reasons_summary](
	[central_id] [nvarchar](50) NULL,
	[central_name] [nvarchar](50) NULL,
	[period] [nvarchar](50) NULL,
	[date] [datetime] NULL,
	[machine_name] [nvarchar](50) NULL,
	[run_hour] [float] NULL,
	[reason1_hour] [float] NULL,
	[reason2_hour] [float] NULL,
	[reason3_hour] [float] NULL,
	[reason4_hour] [float] NULL,
	[reason5_hour] [float] NULL,
	[reason6_hour] [float] NULL,
	[reason7_hour] [float] NULL,
	[reason8_hour] [float] NULL,
	[reason9_hour] [float] NULL,
	[reason10_hour] [float] NULL,
	[reason11_hour] [float] NULL,
	[reason12_hour] [float] NULL,
	[reason13_hour] [float] NULL,
	[reason14_hour] [float] NULL,
	[reason15_hour] [float] NULL,
	[reason16_hour] [float] NULL,
	[reason17_hour] [float] NULL,
	[reason18_hour] [float] NULL,
	[reason19_hour] [float] NULL,
	[reason20_hour] [float] NULL,
	[reason21_hour] [float] NULL,
	[reason22_hour] [float] NULL,
	[reason23_hour] [float] NULL,
	[reason24_hour] [float] NULL,
	[reason25_hour] [float] NULL,
	[reason26_hour] [float] NULL,
	[reason27_hour] [float] NULL,
	[reason28_hour] [float] NULL,
	[reason29_hour] [float] NULL,
	[reason30_hour] [float] NULL,
	[reason31_hour] [float] NULL,
	[sum_hour] [float] NULL,
	[order_index] [int] NULL,
	[refresh_time] [datetime] NULL,
	[write_time] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[machine_production_waste] ([central_id], [central_name], [period], [date], [machine_name], [water_ton], [power_kwh], [steam_ton], [order_index], [refresh_time], [write_time], [weight_kg]) VALUES (N'B', N'', N'今天', CAST(N'2025-04-07T00:00:00.000' AS DateTime), N'04', 0, 0, 0, 1, CAST(N'2025-04-07T11:33:52.710' AS DateTime), CAST(N'2025-04-07T11:33:52.840' AS DateTime), 0)
INSERT [dbo].[machine_production_waste] ([central_id], [central_name], [period], [date], [machine_name], [water_ton], [power_kwh], [steam_ton], [order_index], [refresh_time], [write_time], [weight_kg]) VALUES (N'B', N'', N'今天', CAST(N'2025-04-07T00:00:00.000' AS DateTime), N'05', 0, 0, 0, 1, CAST(N'2025-04-07T11:33:52.710' AS DateTime), CAST(N'2025-04-07T11:33:52.843' AS DateTime), 0)
INSERT [dbo].[machine_production_waste] ([central_id], [central_name], [period], [date], [machine_name], [water_ton], [power_kwh], [steam_ton], [order_index], [refresh_time], [write_time], [weight_kg]) VALUES (N'B', N'', N'今天', CAST(N'2025-04-07T00:00:00.000' AS DateTime), N'06', 0, 0, 0, 1, CAST(N'2025-04-07T11:33:52.710' AS DateTime), CAST(N'2025-04-07T11:33:52.843' AS DateTime), 0)
GO
INSERT [dbo].[overall_usage] ([central_id], [central_name], [period], [date], [machine_name], [run], [idle], [down], [repair], [order_index], [refresh_time], [write_time], [weight_kg]) VALUES (N'B', N'', N'本周', CAST(N'2025-04-06T00:00:00.000' AS DateTime), N'lan02', 0, 0, 100, 0, 1, CAST(N'2025-04-07T11:33:52.710' AS DateTime), CAST(N'2025-04-07T11:33:52.740' AS DateTime), 0)
INSERT [dbo].[overall_usage] ([central_id], [central_name], [period], [date], [machine_name], [run], [idle], [down], [repair], [order_index], [refresh_time], [write_time], [weight_kg]) VALUES (N'B', N'', N'本周', CAST(N'2025-04-06T00:00:00.000' AS DateTime), N'lan03', 0, 0, 100, 0, 1, CAST(N'2025-04-07T11:33:52.710' AS DateTime), CAST(N'2025-04-07T11:33:52.740' AS DateTime), 0)
INSERT [dbo].[overall_usage] ([central_id], [central_name], [period], [date], [machine_name], [run], [idle], [down], [repair], [order_index], [refresh_time], [write_time], [weight_kg]) VALUES (N'B', N'', N'本周', CAST(N'2025-04-06T00:00:00.000' AS DateTime), N'lan04', 0, 0, 100, 0, 1, CAST(N'2025-04-07T11:33:52.710' AS DateTime), CAST(N'2025-04-07T11:33:52.743' AS DateTime), 0)
GO
